<footer class="container grid grid-cols-3 fr items-start justify-center mx-auto text-left text-black">
    <div class="flex flex-col space-y-4 items-center justify-center">
        <h2 class="font-bold">Web Master</h2>
        <p class="font-bold text-slate-900">Patrick Murimi</p>
    </div>
    <div class="flex flex-col space-y-4 items-center justify-center">
        <h2 class="font-bold">Role</h2>
        <p>Web Developer</p>
        <p>Open Source Enthusiast</p>
        <p>Student Community Leader</p>
    </div>
    <div class="flex flex-col space-y-4 items-center justify-center">
        <h2 class="font-bold italic">More</h2>
        <a href="https://github.com/grand-rick001" class="cursor-pointer no-underline">GitHub</a>
    </div>
</footer>
<div class="container mx-auto p-6">
    <h2 class="text-indigo-950">Copyright &copy; {{currentYear}}, All Rights Reserved</h2>
</div>