<nav class="container mx-auto p-6">
    <div class="flex items-center justify-between">
        <div class="w-auto h-10 bg-transparent">
            <img src="https://cdn.pixabay.com/photo/2016/01/27/05/45/art-1163780_960_720.png" class="cursor-pointer w-8" alt="Logo">
        </div>
        <ul class="hidden md:flex items-center justify-center mr-auto list-none">
            <li class="mx-2.5">
                <a class="no-underline text-black py-3 hover:text-sky-700" routerLink="/">Home</a>
            </li>
            <li class="mx-2.5">
                <a class="no-underline text-black py-3 dropdown hover:text-sky-700" routerLink="/">Products
                    <ul class="flex items-center justify-center mr-auto list-none dropdown-content">
                        <li class="mx-2.5"><a routerLink="/" class="no-underline text-black py-3 hover:text-sky-700">Accessories</a></li>
                        <li class="mx-2.5"><a routerLink="/" class="no-underline text-black py-3 hover:text-sky-700">Shoes</a></li>
                        <li class="mx-2.5"><a routerLink="/" class="no-underline text-black py-3 hover:text-sky-700">Dresses</a></li>
                        <li class="mx-2.5"><a routerLink="/" class="no-underline text-black py-3 hover:text-sky-700">Coats</a></li>
                    </ul>
                </a>
            </li>
            <li class="mx-2.5">
            <a class="no-underline text-black py-3 dropdown hover:text-sky-700" routerLink="/">Resources
                <ul class="nav-list dropdown-content">
                    <li class="mx-2.5"><a routerLink="/" class="no-underline text-black py-3 hover:text-sky-700">Resource 1</a></li>
                    <li class="mx-2.5"><a routerLink="/" class="no-underline text-black py-3 hover:text-sky-700">Resource 2</a></li>
                    <li class="mx-2.5"><a routerLink="/" class="no-underline text-black py-3 hover:text-sky-700">Resource 3</a></li>
                    <li class="mx-2.5"><a routerLink="/" class="no-underline text-black py-3 hover:text-sky-700">Resource 4</a></li>
                </ul>
            </a>
            </li>
            <li class="mx-2.5">
                <a class="no-underline text-black py-3 hover:text-sky-700" routerLink="/">Pricing</a>
            </li>
        </ul>
        <ul class="hidden md:flex items-center justify-center list-none">
            <li class="mx-2.5">
                <a class="no-underline text-black py-3 hover:text-sky-700" routerLink="/">Log in</a>
            </li>
            <li class="mx-2.5">
                <a class="rounded-full bg-black text-white transition duration-300 no-underline text-2md px-3 py2 md:px-5 md:py-3 ml-2.5 cursor-pointer border-none hover:bg-white hover:text-black hover:border-2" routerLink="/">Sign up</a>
            </li>
        </ul>
        <!-- Hamburger Icon -->
        <button id="menu-btn" [ngClass]="menuBtnToggleClasses" class="block hamburger md:hidden focus:outline-none">
            <span class="hamburger-top" (click)="clicked = !clicked"></span><span class="hamburger-middle"></span><span class="hamburger-bottom"></span>
        </button>
    </div>

    <!-- Mobile Menu -->
    <div class="md:hidden">
        <div id="menu" [ngClass]="menuToggleClasses" class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
            <a routerLink="/" class="hover:text-sky-700">Home</a>
            <a routerLink="/" class="hover:text-sky-700">Resources</a>
            <a routerLink="/" class="hover:text-sky-700">Pricing</a>
            <a class="no-underline text-black py-3" routerLink="/">Log in</a>
            <a class="rounded-full bg-black text-white transition duration-300 no-underline text-2md px-5 py-3 ml-2.5 cursor-pointer border-none hover:bg-white hover:text-black hover:border-2" routerLink="/">Sign up</a>
        </div>
    </div>
</nav>
  