<div class="container mx-auto p-6">
    <div class="flex flex-col space-y-6 items-center md:flex-row md:space-y-0 md:justify-between">
        <div class="flex flex-col space-y-4">
            <h2 class="font-bold text-4xl">Untitled Blog</h2>
            <div class="flex flex-row p-2">
                <input 
                type="text" 
                [(ngModel)]="searchTerm" 
                (keyup)="search()" 
                class="p-1.5 border-b-1 focus:outline-none" 
                placeholder="Search title..."
                />
                <button 
                class="rounded-full py-3 px-5 text-white bg-black cursor-pointer transition duration-300 border-none hover:bg-white hover:text-black hover:border-2" 
                (click)="search()">Search</button>
            </div>  
        </div>
        <div class="flex items-center justify-center">
            <p class="p-2 italic">New product features, the latest in technology, solutions, and updates.</p>
        </div>
    </div>
</div>