.search-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 100%;
    padding: 2rem;
    font-size: 2.8rem;
}

/* .search-bar > div {
    width: 70%;
} */

h2 {
    font-weight: 800;
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
}

.sect {
    width: 90%;
}

.sect-1 {
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.sect-1-2 {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.sect-2 {
    font-weight: 200;
    font-size: 1.7rem;
    padding: .5rem;
    display: flex;
    align-items: flex-start;
    color: #555;
    font-style: italic;
}

.sect-1-2 {
    display: flex;
    justify-content: flex-start;
    padding: 4px;
}
  
.sect-1-2 * {
    margin-right: 10px;
}
  
.sect-1-2 button {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #000;
    color: #f7f7f7;
    font-size: 15px;
    font-weight: bold;
}
  
.sect-1-2 input {
    border: none;
    border-bottom: 2px solid black;
    color: #000;
    font-size: 15px;
    padding: 3px;
    outline: none;
    font-weight: bold;
}