.search-bar {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2.8rem;
}

.search-bar > * {
    width: 100%;
}

h2 {
    font-weight: bold;
    font-size: 3.5rem;
}

.sect-2 {
    font-weight: 200;
    font-size: 2rem;
}