.blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
}

.blog-item {
    margin: 1rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

img {
    width: 45rem;
}