<nav class="nav-bar">
    <div class="nav-logo">
        <img src="https://cdn.pixabay.com/photo/2016/01/27/05/45/art-1163780_960_720.png" alt="Logo">
    </div>
    <ul class="nav-items">
        <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/">Products</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/">Resources</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/">Pricing</a>
        </li>
    </ul>
    <ul class="nav-auth">
        <li class="nav-item">
        <a class="nav-link" routerLink="/">Login</a>
        </li>
        <li class="nav-item">
        <a class="nav-link nav-link-signup" routerLink="/">Sign up</a>
        </li>
    </ul>
</nav>
  