<nav class="nav-bar">
    <div class="nav-logo">
        <img src="https://cdn.pixabay.com/photo/2016/01/27/05/45/art-1163780_960_720.png" alt="Logo">
    </div>
    <ul class="nav-list">
        <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown" routerLink="/">Products
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg>
                <ul class="nav-list dropdown-content">
                    <li class="nav-item">Accessories</li>
                    <li class="nav-item">Shoes</li>
                    <li class="nav-item">Dresses</li>
                    <li class="nav-item">Coats</li>
                </ul>
            </a>
        </li>
        <li class="nav-item">
        <a class="nav-link dropdown" routerLink="/">Resources
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg>
            <ul class="nav-list dropdown-content">
                <li class="nav-item">Resource 1</li>
                <li class="nav-item">Resource 2</li>
                <li class="nav-item">Resource 3</li>
                <li class="nav-item">Resource 4</li>
            </ul>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/">Pricing</a>
        </li>
    </ul>
    <ul class="nav-auth">
        <li class="nav-item">
        <a class="nav-link" routerLink="/">Login</a>
        </li>
        <li class="nav-item">
        <a class="nav-link nav-link-signup" routerLink="/">Sign up</a>
        </li>
    </ul>
</nav>
  