nav {
    background-color: #f7f7f7;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
}

nav li a:hover {
    background-color: #555;
}
