.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 1rem;
    font-size: 2rem;
}

.nav-logo img {
    height: 4rem;
    width: auto;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: auto;
}

.nav-item {
    margin: 0 1rem;
}

.nav-link {
    color: #000;
    text-decoration: none;
}

.nav-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-link-signup {
    background-color: #000;
    color: #fff;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin-left: 1rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.nav-link-signup:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
  