<nav class="nav-bar">
    <div class="nav-logo">
        <img src="https://cdn.pixabay.com/photo/2016/01/27/05/45/art-1163780_960_720.png" alt="Logo">
    </div>
    <ul class="nav-list">
        <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link dropdown" routerLink="/">Products</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
            </svg>
            <ul class="nav-list dropdown-content">
                <li class="nav-item">Accessories</li>
                <li class="nav-item">Shoes</li>
                <li class="nav-item">Dresses</li>
                <li class="nav-item">Coats</li>
            </ul>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/">Resources</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/">Pricing</a>
        </li>
    </ul>
    <ul class="nav-auth">
        <li class="nav-item">
        <a class="nav-link" routerLink="/">Login</a>
        </li>
        <li class="nav-item">
        <a class="nav-link nav-link-signup" routerLink="/">Sign up</a>
        </li>
    </ul>
</nav>
  