<!-- Flex Container -->
<div class="container grid grid-cols-2 fr items-start justify-between text-black">
    <div class="flex flex-col space-y-4 items-center justify-center">
        <h2 class="font-bold text-2xl text-left">Author</h2>
        <p class="font-bold text-slate-900 text-left cursor-pointer">Patrick Murimi</p>
    </div>
    <div class="flex flex-col space-y-4 items-center justify-center">
        <h2 class="font-bold text-2xl text-left">More</h2>
        <a href="https://github.com/grand-rick001" target="_blank" class="text-left cursor-pointer no-underline transition duration-300 hover:text-sky-700 hover:underline hover:underline-offset-4 hover:font-bold ">GitHub</a>
    </div>
</div>
<!-- Copyright -->
<div class="container flex justify-center items-center mx-auto p-2">
    <h2 class="text-indigo-950 text-left cursor-pointer">Copyright &copy; {{currentYear}}, All Rights Reserved</h2>
</div>